<!Doctrine html public "//W3C//DTD html 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html public "//W3C//DTD xhtml 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<body>
Background-color: #e6e6eA;

<h1><MangoMango/Nature><h1>

<p>a href="http://www.w3.org/TR/html4/loose.dtd"><a>
<p>"The onload attribute can be used to check the visitor's browser type and browser version, 
and load the proper version of the web page based on the information.The onload attribute can also be 
used to deal with cookies".<p>

<body>
<h1><MangoMango>
<Nature><h1>
<p>class="The onload attribute can be used to check the visitor's browser type and browser version, 
and load the proper version of the web page based on the information.The onload attribute can also be 
used to deal with cookies".<p>

<style>
div {
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #381d2a;
}

p {
    text-indent : 50px;
    text-align : justify;
    letter-spacing : 3px;
    }

    a {
        text-decoration : none;
        color : #396e94;
        }
</style>
</head>
<body>

<div>
  <h1><MangoMango>
  <Nature><Nature><h1>
  <p>. The onload attribute can be used to check the visitor's browser type and browser version, 
  and load the proper version of the web page based on the information.The onload attribute can also be 
  used to deal with cookies.</p>
  <a target="<a bref="thpps://clement8.w3spaces.com/clement-2022-09-24.html">
  </a> https://clement-tshibala.jimdosite.com</p>

  </div>
  div {
    border: 1px solid gray;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: blue;
  }
  <style>
  <head>
  <body>
  
  <h2>Using individual margin properties<h2>
  
  <div>This div element has a top margin of 100px, a right margin of 150px, 
  a bottom margin of 100px, and a left margin of 80px.<div>
  
  <style>
  center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  <style>
  <body>
  <h2>Center Align Elements<h2>
  <p>To horizontally center a block element (like div), using auto;<p>
  
  <div class="center">
    <p>Mangomango/nature!</p>
  <div>
  <body>
  <div id="content">
  <section class="nature">
    <img class="mangomago" src="images/rapids.jpg" alt="nature">
    <img class="nature" src="images/nature.png" alt="nature icon">
    <h2>Nature<h2>
<section>
<div id="background"><div> 
<img class="mountains" src="images/Mango.jpg" alt="nature">
<section class="msg">
    <h2>More Than Just The Thrill</h2>
    p class="The onload attribute can be used to check the visitor's browser type and browser version, 
    and load the proper version of the web page based on the information.The onload attribute can also be 
    used to deal with cookies". <p>
    <a class='join' <a href="http://www.w3.org/TR/html4/loose.dtd"><a> Join Us<a>
<section>
  
  <div><section
  <body> 
  {
    background-color: #a43312; 
}
header {
    background-color : rgb(20, 30, 13, 0.7)
    }
nav a:hover {
    background-color : black;
    }
    .icon {
        width : 80px;
        }

<footer>
 p {
    font-size: 1.1em;
} 

<html>
